<h2>Items</h2>
<div *ngFor="let item of items; index as itemId">
  <h3>
    <a [title]="item.name + ' details'" [routerLink]="['/items', itemId]">
      {{ item.name }}
    </a>
  </h3>
  <p *ngIf="item.description">
    Description: {{ item.description }}
  </p>
  <button (click)="share()">
    Share
  </button>
  <app-item-alerts
    [item]="item"
    (notify)="onNotify()">
  </app-item-alerts>
</div>
<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->